<!--Tabs Level 1 End-->
<div class="row">
    <div class="row db-info shadow-btm"> </div>
</div>

<div class="row">
    <!--Left Table Start-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 search-widget">
                <form class="navbar-form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter keyword">
                        <button class="btn btn-search" type="submit">
                            <i class="fa fa-search"></i>
                            </button>
                    </div>
                </form>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 table-button">
                <div class="action-bar">
                    <button class="btn btn-default" type="button" ng-click="createTicketModal()"> + Add</button>
                </div>
            </div>
        </div>
        <section id="no-more-tables" class="margintop20">
            <table id="example" class="example table  table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th ng-repeat="item in headers">
                            {{item.title}}
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="item in coloCagesDetails">
                        <td class="numeric">
                            {{item.name}}
                        </td>
                        <td>
                            {{item.dataCenter}}
                        </td>
                        <td>
                            <div class="action-icons ">
                                <a class="fa fa-pencil" tooltip-class="customClass" uib-tooltip="Edit"></a>
                                <a class="fa fa-trash-o" tooltip-class="customClass" uib-tooltip="Delete"></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <!--Left Table End Graphs Start-->

</div>