<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row db-info shadow-btm"></div>
</div>
<div class="row">
    <!--Tabs Level 1 End-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-wrapper">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <h1>{{cloudName.name}} </h1>
            </div>
        </div>
        <section id="no-more-tables" class="margintop20 middle-wrapper">
            <table id="example" class="example table table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th ng-repeat="item in headers">
                            {{item.name}}
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in cloudData">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.operatingSystem}}
                        </td>
                        <td>
                            {{item.hostName}}
                        </td>
                        <td>
                            {{item.CPUCores}}
                        </td>
                        <td>
                            {{item.vCPUs}}
                        </td>
                        <td>
                            {{item.memory}}
                        </td>
                        <td>
                            {{item.managementIP}}
                        </td>
                        <td>
                            {{item.powerState}}
                        </td>
                        <td>
                            <div class="action-icons">
                                <a ng-click="AWSAccountsDetails(item,selectedRegion)" class="fa fa-plus-square" tooltip-class="customClass" uib-tooltip="Add Management IP" ui-sref=""></a>
                                <a class="fa fa-eye-slash" tooltip-class="customClass" uib-tooltip="Hide VM" ui-sref=""></a>
                                <a class="fa fa-power-off" tooltip-class="customClass" uib-tooltip="Power On" ui-sref=""></a>
                                <a class="fa fa-power-off" tooltip-class="customClass" uib-tooltip="Power Off" ui-sref=""></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>